#a{
background-color: rgb(134, 16, 30);
color:white ;}
#b{
    background-color: rgb(196, 130, 141);
    color:white ;}
   #c{
background-color:rgb(209, 171, 219) ; 
color: white;

   }
   #d{
    background-color:rgb(203, 197, 204) ; 
    color: white;
    
       }
       
